*{
    padding: 0;
    margin: 0;
}
.head9{
    font-weight: 400;
}
.head8{
    font-size: 45px;
    color: #EB7F1C;
    font-weight: 400;
}
.para8{
    font-size: 30px;
}
.para9{
    color: #71757A;
}